<div class="timeline">
    <div class="timeline-modifier">
        <div class="timeline-modifier-content">
            <div class="timeline-modifier-degree"></div>
            <div class="timeline-modifier-degree"></div>
            <div class="timeline-modifier-degree"></div>
            <div class="timeline-modifier-degree"></div>
            <div class="timeline-modifier-degree"></div>
            <div class="timeline-modifier-degree"></div>
            <div class="timeline-modifier-bar"></div>
        </div>
        <div class="timeline-modifier-minus">-</div>
        <div class="timeline-modifier-plus">+</div>
        <div class="timeline-modifier-label"></div>
    </div>

    <div class="timeline-slider">
        <div class="timeline-list"></div>
    </div>

    <div class="timeline-scale"></div>
</div>