<div class="portlet">
    <div class="portlet-title">
        <div class="caption"></div>
        <div class="tabs">
            <ul class="nav nav-tabs" role="tablist">
            </ul>
        </div>
        <div class="tools">

        </div>
    </div>
    <div class="portlet-body">
        <div class="grid-view">
            <div class="grid-content" style="min-height:330px;"></div>
            <div class="table-overlay"></div>
            <div class="no-data-view">No Data To Display</div>
        </div>
    </div>
    <div class="pagination">
        <div class="ui basic buttons perpage pull-left"></div>

        <div class="ui basic buttons page pull-right">
            <div class="ui button prev disabled" data-i18n="common.tag.prev"></div>
            <div class="ui button page-status">1 - 1</div>
            <div class="ui button next disabled" data-i18n="common.tag.next"></div>
        </div>
    </div>
</div>