<div class="ui floating basic dropdown button">
    <span class="text">
        <%= defaultText %>
    </span>
    <i class="icon dropdown"></i>
    <div class="menu">
        <div class="ui icon search input">
            <i class="search icon"></i>
            <input type="text" name="search" data-i18n="[placeholder]common.placeholder.search">
        </div>
        <div class="scrolling menu"></div>
        <div class="divider"></div>
        <div class="item apply">
            <span data-i18n="common.tag.apply"></span>
        </div>
    </div>
</div>